#songListPanel {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    bottom: 0;
    background-color: rgba(255, 170, 170, 0.62);
    z-index: 1002;

    & > ul {
        padding: 10px 0;
        margin: 0;
        list-style: none;

        & > li {
            position: relative;
            padding: 0 10px;
            margin-bottom: 10px;
            line-height: 24px;
            @include transition(all .3s linear);
            @include box-shadow(-11px 4px 20px rgba(255, 255, 255, 0.28));
            &.active, &:active {
                 background: #ff8484;
            }

            .title {
                font: {
                    size: .9rem;
                    family: 'Open Sans Light', '微軟正黑體';
                }
                color: #fff;
            }

            .singer {
                font: {
                    size: .2rem;
                    family: 'Open Sans Light', '微軟正黑體';
                }
                color: #4c4c4c;
            }

            .total {
                position: absolute;
                top: 12px;
                right: 20px;
                font: {
                    size: .5rem;
                    family: 'Open Sans Light', '微軟正黑體';
                }
                color: #fff;
            }
        }
    }
}