@import "https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800";
/* line 5, ../sass/style.scss */
*, *::before, *::after {
  position: relative;
  box-sizing: border-box;
}

/* line 10, ../sass/style.scss */
*::before, *::after {
  font: normal normal normal 14px/1 FontAwesome;
}

/* line 14, ../sass/style.scss */
body {
  background: #d8d8d8;
}

/* line 18, ../sass/style.scss */
.wrapper {
  width: 780px;
  margin: auto;
}
/* line 21, ../sass/style.scss */
.wrapper.lock::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 44;
  background: rgba(0, 0, 0, 0.75);
}
/* line 32, ../sass/style.scss */
.wrapper .container {
  font-size: 13px;
}
/* line 38, ../sass/style.scss */
.wrapper .container .header p {
  word-break: break-all;
}
/* line 42, ../sass/style.scss */
.wrapper .container .body {
  background: #fff;
}
/* line 45, ../sass/style.scss */
.wrapper .container .body .setting-wrp {
  padding: 15px 20px;
}
/* line 48, ../sass/style.scss */
.wrapper .container .body .setting-wrp .group {
  margin: 0 0 10px;
}
/* line 51, ../sass/style.scss */
.wrapper .container .body .setting-wrp .group .label {
  display: inline-block;
  width: 140px;
  padding: 10px 4px;
  background-color: #ffe187;
  text-align: center;
  vertical-align: top;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 60, ../sass/style.scss */
.wrapper .container .body .setting-wrp .group .input {
  display: inline-block;
  height: 33px;
  padding: 8px;
  margin: 0 15px;
  width: 480px;
  outline: none;
  border: 1px solid #ffe187;
  background: #f7f7f7;
  color: #969696;
  overflow: hidden;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 73, ../sass/style.scss */
.wrapper .container .body .setting-wrp .group .button {
  padding: 7px 14px;
  outline: none;
  border: 1px solid #ffe187;
  vertical-align: top;
  cursor: pointer;
  background: linear-gradient(#ffecb1, #ffd65a);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 83, ../sass/style.scss */
.wrapper .container .body .setting-wrp .group2 {
  line-height: 33px;
}
/* line 86, ../sass/style.scss */
.wrapper .container .body .setting-wrp .group2 .label {
  padding: 10px 8px;
  background-color: #ffe187;
  text-align: center;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 92, ../sass/style.scss */
.wrapper .container .body .setting-wrp .group2 .scanBar {
  display: inline-block;
  width: 180px;
  margin: 0 10px;
}
/* line 97, ../sass/style.scss */
.wrapper .container .body .setting-wrp .group2 .timeLabel {
  display: inline-block;
  width: 50px;
  margin: 0 10px 0 0;
}
/* line 102, ../sass/style.scss */
.wrapper .container .body .setting-wrp .group2 [type=checkbox] {
  top: 3px;
}
/* line 105, ../sass/style.scss */
.wrapper .container .body .setting-wrp .group2 .button {
  padding: 7px 14px;
  outline: none;
  border: 1px solid #ffe187;
  vertical-align: top;
  cursor: pointer;
  background: linear-gradient(#ffecb1, #ffd65a);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 113, ../sass/style.scss */
.wrapper .container .body .setting-wrp .group2 .button.setting {
  margin: 0 4px 0 8px;
  border: 1px solid #73bfe3;
  background: linear-gradient(#9fd7f3, #6dbbe0);
}
/* line 121, ../sass/style.scss */
.wrapper .container .body .record-wrp {
  padding: 15px 20px;
}
/* line 124, ../sass/style.scss */
.wrapper .container .body .record-wrp .record-item {
  padding: 2px 10px;
  margin: 0 0 4px 0;
  height: 48px;
  line-height: 48px;
  background-color: #ffe187;
  border-radius: 4px;
}
/* line 131, ../sass/style.scss */
.wrapper .container .body .record-wrp .record-item.need {
  background-color: #ff6197;
}
/* line 134, ../sass/style.scss */
.wrapper .container .body .record-wrp .record-item.success {
  padding: 0;
  height: 5px;
  line-height: 25px;
  background-color: #4e4e4e;
}
/* line 141, ../sass/style.scss */
.wrapper .container .body .record-wrp .record-item .no, .wrapper .container .body .record-wrp .record-item .name, .wrapper .container .body .record-wrp .record-item .type, .wrapper .container .body .record-wrp .record-item .helpful, .wrapper .container .body .record-wrp .record-item .created, .wrapper .container .body .record-wrp .record-item .expire, .wrapper .container .body .record-wrp .record-item .map-link {
  display: inline-block;
  width: 80px;
  text-align: center;
  vertical-align: top;
}
/* line 147, ../sass/style.scss */
.wrapper .container .body .record-wrp .record-item .no {
  width: 32px;
  height: 32px;
  top: 6px;
  margin: 0 10px 0 0;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Open Sans';
  color: #fff;
  background: #73bfe3;
  line-height: 32px;
  text-align: center;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 163, ../sass/style.scss */
.wrapper .container .body .record-wrp .record-item .created {
  width: 130px;
}
/* line 166, ../sass/style.scss */
.wrapper .container .body .record-wrp .record-item .icon {
  width: 42px;
  height: 100%;
}

/* line 176, ../sass/style.scss */
.modal {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.36);
}
/* line 186, ../sass/style.scss */
.modal .dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  background: #fff;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.62);
  -webkit-box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.62);
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.62);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 206, ../sass/style.scss */
#pokemonsModal .dialog {
  width: 480px;
}
/* line 209, ../sass/style.scss */
#pokemonsModal .dialog .header {
  padding: 8px 0;
}
/* line 211, ../sass/style.scss */
#pokemonsModal .dialog .header h1 {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  color: #503f0c;
}
/* line 220, ../sass/style.scss */
#pokemonsModal .dialog .body {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
/* line 224, ../sass/style.scss */
#pokemonsModal .dialog .footer {
  padding: 10px;
  text-align: right;
}
/* line 227, ../sass/style.scss */
#pokemonsModal .dialog .footer .ok, #pokemonsModal .dialog .footer .cancel {
  display: inline-block;
  padding: 7px 14px;
  outline: none;
  border: 1px solid #ffe187;
  vertical-align: top;
  cursor: pointer;
  background: linear-gradient(#ffecb1, #ffd65a);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 239, ../sass/style.scss */
#pokemonsModal .pokemons {
  padding: 10px 0 10px 10px;
  height: 400px;
  overflow: auto;
}
/* line 244, ../sass/style.scss */
#pokemonsModal .pokemons li {
  display: inline-block;
  width: 60px;
  padding: 8px;
  margin: 0 0 8px;
  z-index: 2;
}
/* line 251, ../sass/style.scss */
#pokemonsModal .pokemons li.checked::after {
  content: '';
  position: absolute;
  background: url("../images/target.gif") 0/cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
/* line 264, ../sass/style.scss */
#pokemonsModal .pokemons li a img {
  width: 100%;
  height: auto;
}
