@charset "UTF-8";
/* line 6, ../sass/style.scss */
html, body {
  position: relative;
  height: 100%;
  font-family: Arial, "微軟正黑體", sans-serif;
}

/* line 12, ../sass/style.scss */
*, ::before, ::after {
  box-sizing: border-box;
}

/* line 16, ../sass/style.scss */
::before, ::after {
  font: normal normal normal 14px/1 FontAwesome;
}

/* line 20, ../sass/style.scss */
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #accdd2;
  letter-spacing: 2px;
}

/* line 24, ../sass/style.scss */
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #accdd2;
  letter-spacing: 2px;
}

/* line 28, ../sass/style.scss */
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #accdd2;
  letter-spacing: 2px;
}

/* line 32, ../sass/style.scss */
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #accdd2;
  letter-spacing: 2px;
}

/* line 37, ../sass/style.scss */
body {
  height: 100%;
}
/* line 40, ../sass/style.scss */
body::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("../images/bg.jpg") 0/cover;
  z-index: -1;
}

/* line 52, ../sass/style.scss */
.wrapper {
  position: relative;
  height: 100%;
  overflow: hidden;
}
/* line 57, ../sass/style.scss */
.wrapper .menu {
  position: absolute;
  right: -2px;
  top: 52px;
  width: 36px;
  z-index: 9;
}
/* line 64, ../sass/style.scss */
.wrapper .menu .nav li {
  position: relative;
  float: left;
  left: 0px;
  width: 100%;
  cursor: pointer;
  border: 2px solid #000;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
/* line 74, ../sass/style.scss */
.wrapper .menu .nav li::before {
  width: 36px;
  height: 36px;
  display: inline-block;
  text-align: center;
  line-height: 36px;
  font-size: 30px;
  color: #131313;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
/* line 86, ../sass/style.scss */
.wrapper .menu .nav li.active {
  left: -60px;
  width: 96px;
}
/* line 89, ../sass/style.scss */
.wrapper .menu .nav li.active::before {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 94, ../sass/style.scss */
.wrapper .menu .nav .home {
  background: #9ad2ff;
}
/* line 96, ../sass/style.scss */
.wrapper .menu .nav .home::before {
  content: '\f015';
}
/* line 100, ../sass/style.scss */
.wrapper .menu .nav .pen {
  background: #ffbc59;
}
/* line 102, ../sass/style.scss */
.wrapper .menu .nav .pen::before {
  content: '\f040';
}
/* line 106, ../sass/style.scss */
.wrapper .menu .nav .albums {
  background: #f58f6b;
}
/* line 108, ../sass/style.scss */
.wrapper .menu .nav .albums::before {
  content: '\f03e';
  font-size: 24px;
}
/* line 115, ../sass/style.scss */
.wrapper .menu .nav .traffic {
  background: #9e6956;
}
/* line 117, ../sass/style.scss */
.wrapper .menu .nav .traffic::before {
  content: '\f1b9';
  font-size: 24px;
}
/* line 125, ../sass/style.scss */
.wrapper .container {
  position: relative;
  width: 980px;
  padding: 18px;
  top: 50%;
  left: 50%;
  overflow: hidden;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
/* line 135, ../sass/style.scss */
.wrapper .container::before {
  content: '';
  position: absolute;
  top: -10px;
  right: 0;
  bottom: 0;
  left: -10px;
  background: #000;
  z-index: -1;
  -webkit-filter: blur(10px);
  filter: blur(10px);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
}
/* line 148, ../sass/style.scss */
.wrapper .container::after {
  content: '';
  display: block;
  clear: both;
}
/* line 154, ../sass/style.scss */
.wrapper .container .left, .wrapper .container .right {
  background: #fff;
  height: 700px;
  font-size: 12px;
  background: url("../images/content_bg.jpg");
  -moz-box-shadow: 0px 2px 5px 0 #000;
  -webkit-box-shadow: 0px 2px 5px 0 #000;
  box-shadow: 0px 2px 5px 0 #000;
}
/* line 164, ../sass/style.scss */
.wrapper .container .left {
  float: left;
  width: 230px;
  margin: 0 14px 0 0;
  padding: 10px;
  overflow: hidden;
}
/* line 170, ../sass/style.scss */
.wrapper .container .left .photo {
  position: relative;
  background: url("../images/left_top.jpg") 0/cover;
  width: 100%;
  height: 210px;
  margin: 0 0 30px 0;
}
/* line 177, ../sass/style.scss */
.wrapper .container .left .photo::after {
  content: '智楷 & 郁琳 終身大事';
  position: absolute;
  bottom: -18px;
  left: 54px;
  font-size: 12px;
  color: #3d4c4c;
}
/* line 186, ../sass/style.scss */
.wrapper .container .left .area {
  margin: 0 0 13px 0;
}
/* line 188, ../sass/style.scss */
.wrapper .container .left .area .label {
  position: relative;
  width: 180px;
  left: -10px;
  margin: 0 0 10px 0;
  padding: 6px 6px 6px 20px;
  background: #9ad2ff;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  -moz-box-shadow: 0 0 0 2px #fff, 0 0 0 5px #9ad2ff;
  -webkit-box-shadow: 0 0 0 2px #fff, 0 0 0 5px #9ad2ff;
  box-shadow: 0 0 0 2px #fff, 0 0 0 5px #9ad2ff;
}
/* line 202, ../sass/style.scss */
.wrapper .container .left .area .text {
  display: block;
  padding: 6px 6px 0px 10px;
  line-height: 18px;
}
/* line 206, ../sass/style.scss */
.wrapper .container .left .area .text b {
  display: inline-block;
  width: 54px;
  margin: 0 0 0 0;
  font-weight: bold;
}
/* line 217, ../sass/style.scss */
.wrapper .container .right {
  position: relative;
  float: left;
  width: 700px;
}
/* line 221, ../sass/style.scss */
.wrapper .container .right .row {
  position: relative;
  margin: 0 0 10px 0;
  padding: 22px 22px 0 22px;
}
/* line 225, ../sass/style.scss */
.wrapper .container .right .row .no {
  position: relative;
  display: inline-block;
  margin: 0 16px 0 0;
  width: 22px;
  height: 22px;
  line-height: 22px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  background: #9ad2ff;
  color: #fff;
  vertical-align: top;
  -moz-box-shadow: 0 0 0 2px #fff, 0 0 0 5px #9ad2ff;
  -webkit-box-shadow: 0 0 0 2px #fff, 0 0 0 5px #9ad2ff;
  box-shadow: 0 0 0 2px #fff, 0 0 0 5px #9ad2ff;
}
/* line 242, ../sass/style.scss */
.wrapper .container .right .row .kv_group {
  position: relative;
  display: inline-block;
  top: 4px;
  margin: 0 40px 0 0;
}
/* line 247, ../sass/style.scss */
.wrapper .container .right .row .kv_group .label {
  position: relative;
  margin: 0 0 4px 0;
  font-size: 14px;
}
/* line 254, ../sass/style.scss */
.wrapper .container .right .row .kv_group .input-wrp {
  border-bottom: 2px solid #15609c;
  display: inline-block;
}
/* line 257, ../sass/style.scss */
.wrapper .container .right .row .kv_group .input-wrp.inline {
  display: inline-block;
}
/* line 261, ../sass/style.scss */
.wrapper .container .right .row .kv_group .input-wrp input[type=text] {
  outline: none;
  border: none;
  padding: 2px 4px 2px;
  font-size: 13px;
  letter-spacing: 2px;
  color: #fff;
  background: #4783bf;
}
/* line 273, ../sass/style.scss */
.wrapper .container .right .row .kv_group .h-radio-group {
  position: relative;
  display: inline-block;
  margin: 0 30px 0 0;
}
/* line 278, ../sass/style.scss */
.wrapper .container .right .row .kv_group .h_radio, .wrapper .container .right .row .kv_group .v_radio {
  position: relative;
  padding: 0 0 0 20px;
  margin: 10px 10px 0 0;
  line-height: 16px;
  cursor: pointer;
}
/* line 284, ../sass/style.scss */
.wrapper .container .right .row .kv_group .h_radio::before, .wrapper .container .right .row .kv_group .v_radio::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  border: 2px solid #4783bf;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
/* line 294, ../sass/style.scss */
.wrapper .container .right .row .kv_group .h_radio::after, .wrapper .container .right .row .kv_group .v_radio::after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  background: #305d8a;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
/* line 306, ../sass/style.scss */
.wrapper .container .right .row .kv_group .h_radio.checked::after, .wrapper .container .right .row .kv_group .v_radio.checked::after {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 310, ../sass/style.scss */
.wrapper .container .right .row .kv_group .h_radio.female::before, .wrapper .container .right .row .kv_group .v_radio.female::before {
  border: 2px solid #f53677;
}
/* line 313, ../sass/style.scss */
.wrapper .container .right .row .kv_group .h_radio.female::after, .wrapper .container .right .row .kv_group .v_radio.female::after {
  background: #d40b4f;
}
/* line 318, ../sass/style.scss */
.wrapper .container .right .row .kv_group .h_radio.male::before, .wrapper .container .right .row .kv_group .v_radio.male::before {
  border: 2px solid #2d40ad;
}
/* line 321, ../sass/style.scss */
.wrapper .container .right .row .kv_group .h_radio.male::after, .wrapper .container .right .row .kv_group .v_radio.male::after {
  background: #1d2a70;
}
/* line 326, ../sass/style.scss */
.wrapper .container .right .row .kv_group .h_radio {
  display: inline-block;
}
/* line 329, ../sass/style.scss */
.wrapper .container .right .row .kv_group .v_radio {
  display: block;
}
/* line 332, ../sass/style.scss */
.wrapper .container .right .row .kv_group .comment {
  width: 400px;
  height: 88px;
}
/* line 338, ../sass/style.scss */
.wrapper .container .right .send {
  position: absolute;
  right: 50px;
  bottom: 50px;
  width: 46px;
  height: 46px;
  text-align: center;
  background: #9ad2ff;
  cursor: pointer;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: inset 0 0 0 3px #64b1d4;
  -webkit-box-shadow: inset 0 0 0 3px #64b1d4;
  box-shadow: inset 0 0 0 3px #64b1d4;
}
/* line 349, ../sass/style.scss */
.wrapper .container .right .send::after {
  content: '\f1d9';
  position: relative;
  left: -2px;
  line-height: 46px;
  font-size: 24px;
  color: #6b77a7;
}
/* line 359, ../sass/style.scss */
.wrapper .container .right .send:hover::after {
  color: #2d344e;
}
/* line 362, ../sass/style.scss */
.wrapper .container .right .send:active::after {
  color: #6b77a7;
}
/* line 366, ../sass/style.scss */
.wrapper .container .right .step-home {
  display: block;
  height: 100%;
  text-align: center;
}
/* line 370, ../sass/style.scss */
.wrapper .container .right .step-home .header {
  position: relative;
  top: 30px;
  height: 40px;
  width: 300px;
  margin: 0 auto;
  font-size: 28px;
  font-weight: 600;
  line-height: 40px;
  text-align: center;
  background: #9ad2ff;
  color: #25306d;
  -moz-box-shadow: 0 0 0 2px #fff, 0 0 0 5px #9ad2ff;
  -webkit-box-shadow: 0 0 0 2px #fff, 0 0 0 5px #9ad2ff;
  box-shadow: 0 0 0 2px #fff, 0 0 0 5px #9ad2ff;
}
/* line 386, ../sass/style.scss */
.wrapper .container .right .step-home .content {
  position: relative;
  width: 94%;
  height: 380px;
  top: 50px;
  padding: 20px;
  margin: 0 auto;
  font-size: 18px;
  letter-spacing: 3px;
  line-height: 34px;
  text-align: left;
  color: #4a3739;
  background: #def;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
/* line 400, ../sass/style.scss */
.wrapper .container .right .step-home .content p {
  margin: 0 0 10px;
}
/* line 403, ../sass/style.scss */
.wrapper .container .right .step-home .content .show {
  position: relative;
}
/* line 405, ../sass/style.scss */
.wrapper .container .right .step-home .content .show .text {
  vertical-align: top;
}
/* line 408, ../sass/style.scss */
.wrapper .container .right .step-home .content .show .cursor {
  display: inline-block;
  width: 1px;
  height: 34px;
  background: #000;
  -moz-animation: flash 0.6s linear infinite;
  -webkit-animation: flash 0.6s linear infinite;
  animation: flash 0.6s linear infinite;
}
@keyframes flash {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
/* line 425, ../sass/style.scss */
.wrapper .container .right .step-home .go {
  position: relative;
  display: inline-block;
  top: 142px;
  width: 150px;
  height: 36px;
  line-height: 36px;
  font-weight: 600;
  font-size: 22px;
  color: #6f6c83;
  cursor: pointer;
  z-index: 22;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -moz-box-shadow: 0 0 0px 4px #6f738e, 4px 6px 10px 0px #000;
  -webkit-box-shadow: 0 0 0px 4px #6f738e, 4px 6px 10px 0px #000;
  box-shadow: 0 0 0px 4px #6f738e, 4px 6px 10px 0px #000;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/* line 443, ../sass/style.scss */
.wrapper .container .right .step-home .go::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #8590b0;
  z-index: -1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
/* line 456, ../sass/style.scss */
.wrapper .container .right .step-home .go:hover {
  color: #ffffff;
}
/* line 459, ../sass/style.scss */
.wrapper .container .right .step-home .go:active {
  left: 1px;
  top: 143px;
}
/* line 464, ../sass/style.scss */
.wrapper .container .right .step-pen {
  height: 100%;
}
/* line 467, ../sass/style.scss */
.wrapper .container .right .step-albums {
  position: relative;
  height: 100%;
  overflow-y: scroll;
  font-size: 0;
  background: url("http://www.ragetexas.com/blog/wp-content/uploads/2012/12/Grey-Grid-Background.jpg");
  z-index: 22;
}
/* line 475, ../sass/style.scss */
.wrapper .container .right .step-albums img {
  position: relative;
  display: none;
  padding: 5px;
  cursor: pointer;
}
/* line 482, ../sass/style.scss */
.wrapper .container .right .step-traffic {
  height: 100%;
  text-align: center;
}
/* line 485, ../sass/style.scss */
.wrapper .container .right .step-traffic .info {
  position: relative;
  top: 10px;
  width: 97%;
  height: 240px;
  margin: 0 auto;
  -moz-box-shadow: 0px 1px 1px 0px rgba(101, 101, 101, 0.39);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(101, 101, 101, 0.39);
  box-shadow: 0px 1px 1px 0px rgba(101, 101, 101, 0.39);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 494, ../sass/style.scss */
.wrapper .container .right .step-traffic .info::after {
  content: '';
  display: block;
  clear: both;
}
/* line 500, ../sass/style.scss */
.wrapper .container .right .step-traffic .info .header {
  padding: 10px;
  background: #9ad2ff;
}
/* line 504, ../sass/style.scss */
.wrapper .container .right .step-traffic .info .content {
  padding: 10px 4px;
  text-align: left;
  font-family: Verdana, Arial, sans-serif, '新細明體', taipei;
}
/* line 508, ../sass/style.scss */
.wrapper .container .right .step-traffic .info .content .method {
  margin: 0 0 10px 0;
}
/* line 510, ../sass/style.scss */
.wrapper .container .right .step-traffic .info .content .method .label {
  color: #0c4c80;
  margin: 0 0 6px;
}
/* line 514, ../sass/style.scss */
.wrapper .container .right .step-traffic .info .content .method .text {
  text-indent: 6px;
}
/* line 516, ../sass/style.scss */
.wrapper .container .right .step-traffic .info .content .method .text p {
  margin: 0 0 2px;
}
/* line 523, ../sass/style.scss */
.wrapper .container .right .step-traffic .map {
  position: relative;
  top: 20px;
  width: 97%;
  margin: 0 auto;
  -moz-box-shadow: 0px 1px 1px 0px rgba(101, 101, 101, 0.39);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(101, 101, 101, 0.39);
  box-shadow: 0px 1px 1px 0px rgba(101, 101, 101, 0.39);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 530, ../sass/style.scss */
.wrapper .container .right .step-traffic .map .header {
  padding: 10px;
  background: #fde28f;
}
/* line 534, ../sass/style.scss */
.wrapper .container .right .step-traffic .map .content {
  padding: 4px;
}

/* line 542, ../sass/style.scss */
.input-wrp.disabled {
  border-bottom: 2px solid #3c3c3a !important;
}

/* line 545, ../sass/style.scss */
input[type=text].disabled {
  background: #56564f !important;
  cursor: no-drop !important;
}

/* line 549, ../sass/style.scss */
textarea.disabled {
  background: #56564f !important;
  cursor: no-drop !important;
}

/* line 555, ../sass/style.scss */
.relations.disabled .v_radio::before, .relations.disabled .h_radio::before,
.vegetarian.disabled .v_radio::before, .vegetarian.disabled .h_radio::before {
  border: 2px solid #3c3c3a !important;
}

/* line 560, ../sass/style.scss */
.overlay {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}
/* line 568, ../sass/style.scss */
.overlay .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 2px 8px;
  background: #fff;
  -moz-box-shadow: 0 0 0 2px #99aebf, 0 0 4px 4px #e8da69;
  -webkit-box-shadow: 0 0 0 2px #99aebf, 0 0 4px 4px #e8da69;
  box-shadow: 0 0 0 2px #99aebf, 0 0 4px 4px #e8da69;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 577, ../sass/style.scss */
.overlay .modal .content {
  font-size: 0;
}
/* line 580, ../sass/style.scss */
.overlay .modal .content::before {
  content: '';
  position: relative;
  background: url("../images/loading.gif") 0/32px no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
}
/* line 588, ../sass/style.scss */
.overlay .modal .content span {
  position: relative;
  display: inline-block;
  top: 10px;
  font-size: 14px;
  vertical-align: top;
}
