<div class="home-info">
    <div class="home-header">
        <ul class="home-info-nav">
            <li class="home-info-nav-tweets active">TWEETS</li>
            <li class="home-info-nav-photos">PHOTOS</li>
            <li class="home-info-nav-videos">VIDEOS</li>
        </ul>
    </div>
    <div class="home-content">
        <div class="post-wrp">
            <h1>TWEETS SOMETHING</h1>
            <div id="tweet_textarea">
                <textarea></textarea>
            </div>
        </div>
        <div class="main-tweets-wrp">
            <h1>4 NEW TWEETS</h1>
            <ul class="main-tweets-list">
                <li>
                    <img class="userPhoto" style="background: url('https://scontent-tpe1-1.xx.fbcdn.net/t31.0-8/s960x960/13048192_1174133852605190_8230343815256516645_o.jpg') 0 / cover;"></img>
                    <div class="user" ng-click="switchUserWallPage()">THWU<span class="since">1 小時</span></div>
                    <div class="comment"><a href="">@justinbieber</a> a lot of people judge me bc i'm a boy and i'm a big supporter of u. but i don't care, thank u for making me happy everyday</div>
                </li>
                <li>
                    <img class="userPhoto" style="background: url('https://scontent-tpe1-1.xx.fbcdn.net/t31.0-8/s960x960/13048192_1174133852605190_8230343815256516645_o.jpg') 0 / cover;"></img>
                    <div class="user">Tina<span class="since">2 小時</span></div>
                    <div class="comment"><a href="">@justinbieber</a>yo yo yo.</div>
                </li>
                <li>
                    <img class="userPhoto" style="background: url('https://scontent-tpe1-1.xx.fbcdn.net/t31.0-8/s960x960/13048192_1174133852605190_8230343815256516645_o.jpg') 0 / cover;"></img>
                    <div class="user">YM<span class="since">3 小時</span></div>
                    <div class="comment"><a href="">@justinbieber</a> you're amazing</div>
                </li>
                <li>
                    <img class="userPhoto" style="background: url('https://scontent-tpe1-1.xx.fbcdn.net/t31.0-8/s960x960/13048192_1174133852605190_8230343815256516645_o.jpg') 0 / cover;"></img>
                    <div class="user">奇紘<span class="since">4 小時</span></div>
                    <div class="comment"><a href="">@justinbieber</a> that tribute was incredible and touching. You are so sweet for doing that Justin, I'm so proud of you. U care. U show your love and support. U cheer us up. U make us smile. Thank you for being the best idol</div>
                </li>
                <li>
                    <img class="userPhoto" style="background: url('https://scontent-tpe1-1.xx.fbcdn.net/t31.0-8/s960x960/13048192_1174133852605190_8230343815256516645_o.jpg') 0 / cover;"></img>
                    <div class="user">紹民<span class="since">5 小時</span></div>
                    <div class="comment"><a href="">@justinbieber</a> YOU DESERVE EVERY BIT OF HAPPINESS IN THE WORLD.</div>
                </li>
                <li>
                    <img class="userPhoto" style="background: url('https://scontent-tpe1-1.xx.fbcdn.net/t31.0-8/s960x960/13048192_1174133852605190_8230343815256516645_o.jpg') 0 / cover;"></img>
                    <div class="user">翌成<span class="since">6 小時</span></div>
                    <div class="comment"><a href="">@justinbieber</a>I love you so much. Thank you for everything you do for us. We appreciate you.</div>
                </li>
                <li>
                    <img class="userPhoto" style="background: url('https://scontent-tpe1-1.xx.fbcdn.net/t31.0-8/s960x960/13048192_1174133852605190_8230343815256516645_o.jpg') 0 / cover;"></img>
                    <div class="user">THWU<span class="since">1 小時</span></div>
                    <div class="comment"><a href="">@justinbieber</a> a lot of people judge me bc i'm a boy and i'm a big supporter of u. but i don't care, thank u for making me happy everyday</div>
                </li>
                <li>
                    <img class="userPhoto" style="background: url('https://scontent-tpe1-1.xx.fbcdn.net/t31.0-8/s960x960/13048192_1174133852605190_8230343815256516645_o.jpg') 0 / cover;"></img>
                    <div class="user">Tina<span class="since">2 小時</span></div>
                    <div class="comment"><a href="">@justinbieber</a>yo yo yo.</div>
                </li>
                <li>
                    <img class="userPhoto" style="background: url('https://scontent-tpe1-1.xx.fbcdn.net/t31.0-8/s960x960/13048192_1174133852605190_8230343815256516645_o.jpg') 0 / cover;"></img>
                    <div class="user">YM<span class="since">3 小時</span></div>
                    <div class="comment"><a href="">@justinbieber</a> you're amazing</div>
                </li>
                <li>
                    <img class="userPhoto" style="background: url('https://scontent-tpe1-1.xx.fbcdn.net/t31.0-8/s960x960/13048192_1174133852605190_8230343815256516645_o.jpg') 0 / cover;"></img>
                    <div class="user">奇紘<span class="since">4 小時</span></div>
                    <div class="comment"><a href="">@justinbieber</a> that tribute was incredible and touching. You are so sweet for doing that Justin, I'm so proud of you. U care. U show your love and support. U cheer us up. U make us smile. Thank you for being the best idol</div>
                </li>
                <li>
                    <img class="userPhoto" style="background: url('https://scontent-tpe1-1.xx.fbcdn.net/t31.0-8/s960x960/13048192_1174133852605190_8230343815256516645_o.jpg') 0 / cover;"></img>
                    <div class="user">紹民<span class="since">5 小時</span></div>
                    <div class="comment"><a href="">@justinbieber</a> YOU DESERVE EVERY BIT OF HAPPINESS IN THE WORLD.</div>
                </li>
                <li>
                    <img class="userPhoto" style="background: url('https://scontent-tpe1-1.xx.fbcdn.net/t31.0-8/s960x960/13048192_1174133852605190_8230343815256516645_o.jpg') 0 / cover;"></img>
                    <div class="user">翌成<span class="since">6 小時</span></div>
                    <div class="comment"><a href="">@justinbieber</a>I love you so much. Thank you for everything you do for us. We appreciate you.</div>
                </li>
            </ul>
            <div class="main-tweets-more">MORE</div>
        </div>
    </div>
    </div>
    <div class="home-attr-info">
    <div class="home-who-to-follow">
        <div class="home-who-to-follow-header">
            WHO TO FOLLOW
            <span class="reload"></span>
        </div>
        <div class="home-who-to-follow-content">
            <ul class="home-who-to-follow-content-list">
                <li>
                    <img class="userPhoto" style="background: url('https://scontent-tpe1-1.xx.fbcdn.net/t31.0-8/s960x960/13048192_1174133852605190_8230343815256516645_o.jpg') 0 / cover;"></img>
                    <div class="user">My Name Is Tom</div>
                    <div class="info">Followed by <a href="">skye.wu</a></div>
                </li>
                <li>
                    <img class="userPhoto" style="background: url('https://scontent-tpe1-1.xx.fbcdn.net/t31.0-8/s960x960/13048192_1174133852605190_8230343815256516645_o.jpg') 0 / cover;"></img>
                    <div class="user">My Name Is Tom</div>
                    <div class="info">Followed by <a href="">skye.wu</a></div>
                </li>
                <li>
                    <img class="userPhoto" style="background: url('https://scontent-tpe1-1.xx.fbcdn.net/t31.0-8/s960x960/13048192_1174133852605190_8230343815256516645_o.jpg') 0 / cover;"></img>
                    <div class="user">My Name Is Tom</div>
                    <div class="info">Followed by <a href="">skye.wu</a></div>
                </li>
            </ul>
            <div class="home-who-to-follow-content-other">
                <a href="" class="popular-account">Popular account</a>
                .
                <a href="" class="find-friends">Find friends</a>
            </div>
        </div>
    </div>
    <div class="home-trend">
        <div class="home-trend-header">
            TRENDING
            <span class="settings"></span>
        </div>
        <div class="home-trend-content">
            <ul class="home-trend-list">
                <li>氣質正妹</li>
                <li>呆憨可愛</li>
                <li>NT 299 免運費</li>
                <li>上班族的大小事</li>
                <li>前端工程師的悲歌</li>
                <li>外包網</li>
            </ul>
        </div>
    </div>
</div>