<div class="home-info statistics">
    <div class="home-header">
        <ul class="home-info-nav">
            <li class="home-info-nav-tweets active">TWEETS</li>
            <li class="home-info-nav-photos">PHOTOS</li>
            <li class="home-info-nav-following">FOLLOWING</li>
        </ul>
    </div>
    <div class="home-content">
        <div class="report">
            <h1>VIEW OF YOUR TWEETS</h1>
            <div class="chart-wrp">
                <div id="voyt_chart"></div>
            </div>
        </div>
        <div class="report">
            <h1>POPULARITY</h1>
            <div class="chart-wrp">
                <div id="popular_chart"></div>
            </div>
        </div>
    </div>
</div>
<div class="home-attr-info statistics">
    <div class="last_activity">
        <div class="last_activity_header">
            LATEST ACTIVITY
            <span class="reload"></span>
        </div>
        <div class="last_activity_content">
            <ul class="time-line">
                <li>
                    <h1 class="main">JUST NOW</h1>
                    <h2 class="sub"><a href="">New dribble shot</a> has been retweeted by <span>John Doe</span></h2>
                </li>
                <li>
                    <h1 class="main">YESTODAY</h1>
                    <h2 class="sub"><a href="">New dribble shot</a> has been retweeted by <span>John Doe</span></h2>
                </li>
                <li>
                    <h1 class="main">LAST WEEK</h1>
                    <h2 class="sub"><a href="">New dribble shot</a> has been retweeted by <span>John Doe</span></h2>
                </li>
                <li>
                    <h1 class="main">LAST MONTH</h1>
                    <h2 class="sub"><a href="">New dribble shot</a> has been retweeted by <span>John Doe</span></h2>
                </li>
                <li>
                    <h1 class="main">LAST YEAR</h1>
                    <h2 class="sub"><a href="">New dribble shot</a> has been retweeted by <span>John Doe</span></h2>
                </li>
            </ul>
        </div>
    </div>
</div>