<div class="home-info userWall">
    <div class="userWall-banner" style="background: url('http://euro.soshipapers.com/soshi/4886.jpg') 0 / cover;"></div>
    <div class="home-header">
        <ul class="home-info-nav">
            <li class="home-info-nav-tweets active">TWEETS</li>
            <li class="home-info-nav-photos">PHOTOS</li>
            <li class="home-info-nav-following">FOLLOWING</li>
            <li class="home-info-nav-followes">FOLLOWES</li>
            <li class="home-info-nav-favorites">FAVORITES</li>
            <li class="home-info-nav-lists">LISTS</li>
        </ul>
    </div>
    <div class="home-content">
        <div class="post-wrp">
            <h1>TWEETS SOMETHING</h1>
            <div id="tweet_textarea">
                <textarea></textarea>
            </div>
        </div>
        <div class="main-tweets-wrp">
            <h1>4 NEW TWEETS</h1>
            <ul class="main-tweets-list">
                <li>
                    <img class="userPhoto" style="background: url('https://scontent-tpe1-1.xx.fbcdn.net/t31.0-8/s960x960/13048192_1174133852605190_8230343815256516645_o.jpg') 0 / cover;"></img>
                    <div class="user">THWU<span class="since">1 小時</span></div>
                    <div class="comment"><a href="">@justinbieber</a> a lot of people judge me bc i'm a boy and i'm a big supporter of u. but i don't care, thank u for making me happy everyday</div>
                </li>
                <li>
                    <img class="userPhoto" style="background: url('https://scontent-tpe1-1.xx.fbcdn.net/t31.0-8/s960x960/13048192_1174133852605190_8230343815256516645_o.jpg') 0 / cover;"></img>
                    <div class="user">THWU<span class="since">1 小時</span></div>
                    <div class="comment"><a href="">@justinbieber</a> a lot of people judge me bc i'm a boy and i'm a big supporter of u. but i don't care, thank u for making me happy everyday</div>
                </li>
                <li>
                    <img class="userPhoto" style="background: url('https://scontent-tpe1-1.xx.fbcdn.net/t31.0-8/s960x960/13048192_1174133852605190_8230343815256516645_o.jpg') 0 / cover;"></img>
                    <div class="user">THWU<span class="since">1 小時</span></div>
                    <div class="comment"><a href="">@justinbieber</a> a lot of people judge me bc i'm a boy and i'm a big supporter of u. but i don't care, thank u for making me happy everyday</div>
                </li>
                <li>
                    <img class="userPhoto" style="background: url('https://scontent-tpe1-1.xx.fbcdn.net/t31.0-8/s960x960/13048192_1174133852605190_8230343815256516645_o.jpg') 0 / cover;"></img>
                    <div class="user">THWU<span class="since">1 小時</span></div>
                    <div class="comment"><a href="">@justinbieber</a> a lot of people judge me bc i'm a boy and i'm a big supporter of u. but i don't care, thank u for making me happy everyday</div>
                </li>
                <li>
                    <img class="userPhoto" style="background: url('https://scontent-tpe1-1.xx.fbcdn.net/t31.0-8/s960x960/13048192_1174133852605190_8230343815256516645_o.jpg') 0 / cover;"></img>
                    <div class="user">THWU<span class="since">1 小時</span></div>
                    <div class="comment"><a href="">@justinbieber</a> a lot of people judge me bc i'm a boy and i'm a big supporter of u. but i don't care, thank u for making me happy everyday</div>
                </li>
                <li>
                    <img class="userPhoto" style="background: url('https://scontent-tpe1-1.xx.fbcdn.net/t31.0-8/s960x960/13048192_1174133852605190_8230343815256516645_o.jpg') 0 / cover;"></img>
                    <div class="user">THWU<span class="since">1 小時</span></div>
                    <div class="comment"><a href="">@justinbieber</a> a lot of people judge me bc i'm a boy and i'm a big supporter of u. but i don't care, thank u for making me happy everyday</div>
                </li>
                <li>
                    <img class="userPhoto" style="background: url('https://scontent-tpe1-1.xx.fbcdn.net/t31.0-8/s960x960/13048192_1174133852605190_8230343815256516645_o.jpg') 0 / cover;"></img>
                    <div class="user">THWU<span class="since">1 小時</span></div>
                    <div class="comment"><a href="">@justinbieber</a> a lot of people judge me bc i'm a boy and i'm a big supporter of u. but i don't care, thank u for making me happy everyday</div>
                </li>
                <li>
                    <img class="userPhoto" style="background: url('https://scontent-tpe1-1.xx.fbcdn.net/t31.0-8/s960x960/13048192_1174133852605190_8230343815256516645_o.jpg') 0 / cover;"></img>
                    <div class="user">THWU<span class="since">1 小時</span></div>
                    <div class="comment"><a href="">@justinbieber</a> a lot of people judge me bc i'm a boy and i'm a big supporter of u. but i don't care, thank u for making me happy everyday</div>
                </li>
                <li>
                    <img class="userPhoto" style="background: url('https://scontent-tpe1-1.xx.fbcdn.net/t31.0-8/s960x960/13048192_1174133852605190_8230343815256516645_o.jpg') 0 / cover;"></img>
                    <div class="user">THWU<span class="since">1 小時</span></div>
                    <div class="comment"><a href="">@justinbieber</a> a lot of people judge me bc i'm a boy and i'm a big supporter of u. but i don't care, thank u for making me happy everyday</div>
                </li>
                <li>
                    <img class="userPhoto" style="background: url('https://scontent-tpe1-1.xx.fbcdn.net/t31.0-8/s960x960/13048192_1174133852605190_8230343815256516645_o.jpg') 0 / cover;"></img>
                    <div class="user">THWU<span class="since">1 小時</span></div>
                    <div class="comment"><a href="">@justinbieber</a> a lot of people judge me bc i'm a boy and i'm a big supporter of u. but i don't care, thank u for making me happy everyday</div>
                </li>
                <li>
                    <img class="userPhoto" style="background: url('https://scontent-tpe1-1.xx.fbcdn.net/t31.0-8/s960x960/13048192_1174133852605190_8230343815256516645_o.jpg') 0 / cover;"></img>
                    <div class="user">THWU<span class="since">1 小時</span></div>
                    <div class="comment"><a href="">@justinbieber</a> a lot of people judge me bc i'm a boy and i'm a big supporter of u. but i don't care, thank u for making me happy everyday</div>
                </li>
                <li>
                    <img class="userPhoto" style="background: url('https://scontent-tpe1-1.xx.fbcdn.net/t31.0-8/s960x960/13048192_1174133852605190_8230343815256516645_o.jpg') 0 / cover;"></img>
                    <div class="user">THWU<span class="since">1 小時</span></div>
                    <div class="comment"><a href="">@justinbieber</a> a lot of people judge me bc i'm a boy and i'm a big supporter of u. but i don't care, thank u for making me happy everyday</div>
                </li>
                <li>
                    <img class="userPhoto" style="background: url('https://scontent-tpe1-1.xx.fbcdn.net/t31.0-8/s960x960/13048192_1174133852605190_8230343815256516645_o.jpg') 0 / cover;"></img>
                    <div class="user">THWU<span class="since">1 小時</span></div>
                    <div class="comment"><a href="">@justinbieber</a> a lot of people judge me bc i'm a boy and i'm a big supporter of u. but i don't care, thank u for making me happy everyday</div>
                </li>
                <li>
                    <img class="userPhoto" style="background: url('https://scontent-tpe1-1.xx.fbcdn.net/t31.0-8/s960x960/13048192_1174133852605190_8230343815256516645_o.jpg') 0 / cover;"></img>
                    <div class="user">THWU<span class="since">1 小時</span></div>
                    <div class="comment"><a href="">@justinbieber</a> a lot of people judge me bc i'm a boy and i'm a big supporter of u. but i don't care, thank u for making me happy everyday</div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="home-attr-info userWall">
    <div class="userProfile">
        <div class="controlPanel">
            <div class="add"></div>
            <div class="photo" style="background: url('https://scontent-tpe1-1.xx.fbcdn.net/t31.0-8/s960x960/13048192_1174133852605190_8230343815256516645_o.jpg') 0 / cover;"></div>
            <div class="menu"></div>
            <div class="name">吳智楷</div>
            <div class="nickname">@skye.wu</div>
        </div>
        <div class="infoPanel">
            <div class="tweets">
                <div class="content">
                    <h1 class="data">1</h1>
                    <h2 class="text">Tweets</h2>
                </div>
            </div>
            <div class="following">
                <div class="content">
                    <h1 class="data">180</h1>
                    <h2 class="text">Following</h2>
                </div>
            </div>
            <div class="followers">
                <div class="content">
                    <h1 class="data">16</h1>
                    <h2 class="text">Followers</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="followed-by">
        <div class="followed-header">
            FOLLOWED BY
        </div>
        <div class="followed-content">
            <ul class="followed-list">
                <li>
                    <img src="" alt="" class="photo" style="background: url('https://scontent-tpe1-1.xx.fbcdn.net/t31.0-8/s960x960/13048192_1174133852605190_8230343815256516645_o.jpg') 0 / cover;">
                    <div class="name">黃菇菇</div>
                    <div class="nickname">@Tina</div>
                    <div class="add"></div>
                </li>
                <li>
                    <img src="" alt="" class="photo" style="background: url('https://scontent-tpe1-1.xx.fbcdn.net/t31.0-8/s960x960/13048192_1174133852605190_8230343815256516645_o.jpg') 0 / cover;">
                    <div class="name">Grégoire Vella</div>
                    <div class="nickname">@Grégoire Vella</div>
                    <div class="add"></div>
                </li>
                <li>
                    <img src="" alt="" class="photo" style="background: url('https://scontent-tpe1-1.xx.fbcdn.net/t31.0-8/s960x960/13048192_1174133852605190_8230343815256516645_o.jpg') 0 / cover;">
                    <div class="name">MILEY RAY CYRUS</div>
                    <div class="nickname">@MileyCyrus</div>
                    <div class="add"></div>
                </li>
            </ul>
        </div>
        </div>
</div>