.wrapper {
    .container {
        .body {
            width: 1080px;
            margin: 0 auto 20px;
            
            .banner-wrp {
                .slick-dots {
                    bottom: -10px;
                
                    li button::before {
                        content: '';
                        width: 14px;
                        height: 14px;
                        opacity: .4;
                        border: 2px solid #4c4c4c;
                        @include border-radius(50%);
                        @include box-shadow(inset 1px 1px 2px 1px #383737);
                        @include background(linear-gradient(135deg, #232222 10%, #676767));
                    }
                    li.slick-active button::before {
                        opacity: .8;
                        border: 2px solid rgba(255, 255, 255, 0.39);
                        @include border-radius(50%);
                        @include box-shadow(inset 1px 1px 2px 1px #e8e8e8);
                        @include background(linear-gradient(135deg, #9e9e9e 10%, #eaeaea));
                    }
                }

                .banner {
                    height: 400px;
                    margin: 0 0 40px 0;

                    .desc {
                        position: absolute;
                        bottom: 20px;
                        left: 100px;
                        width: 500px;
                        color: #fff;

                        h1 {
                            font: {
                                size: 34px;
                                weight: 400;
                                family: monospace;
                            }
                        }
                        h2 {
                            font: {
                                size: 40px;
                                weight: 600;
                            }
                            line-height: 70px;
                        }
                        h3 {
                            font: {
                                size: 16px;
                                weight: 400;
                            }
                            line-height: 26px;
                            color: #e8e8e8;
                        }
                    }
                }
                .banner1 {
                    background: url(../images/1401331563611.jpg) 0px -150px  no-repeat
                }
                .banner2 {
                    background: url(../images/asd.jpg) -120px -140px;
                }
                .banner3 {
                    background: url(../images/info-security-3.jpg) 0px -60px / 100% no-repeat;
                }
            }

            .content-wrp {
                margin: 60px 0 30px 0;

                .grid-news-wrp {
                    float: left;
                    width: 65%;

                    .item {
                        float: left;
                        width: 50%;
                        height: 190px;
                        padding: 0 20px 0 0;
                        margin: 0 0 20px 0;

                        .item-header {
                            .icon {
                                float: left;
                                margin: 0 10px 0 0;
                                width: 62px;
                                height: 62px;
                            }
                            .title {
                                font: {
                                    size: 34px;
                                    weight: 400;
                                }
                                color: #fff;
                            }
                            .sub-title {
                                padding: 0 0 0 80px;
                                font: {
                                    size: 28px;
                                    weight: 600;
                                }
                                color: #525252;
                            }
                        }
                        .item-content {
                            padding: 10px 0;
                            font: {
                                size: 14px;
                                weight: 400;
                            }
                            line-height: 22px;
                            color: #fff;
                        }
                    }
                }
                .infos-wrp {
                    float: right;
                    width: 35%;
                    height: 520px;
                    padding: 0 10px;

                    .infos-content {
                        padding: 10px 20px;
                        height: 100%;
                        border: 1px solid #1b1b1b;
                        border-width: 1px 0px 0px 1px;
                        @include border-radius(10px);

                        .pho2 {
                            width: 100%;
                            height: auto;
                            margin: 0 0 10px 0;
                        }
                        .title {
                            margin: 0 0 20px 0;
                            font: {
                                size: 24px;
                            }
                            color: #e0e0e0;

                            .dark {
                                color: #505050;
                            }
                        }
                        .normal {
                            font: {
                                size: 13px;
                                weight: normal;
                            }
                            line-height: 30px;
                            color: #e0e0e0;
                        }
                    }
                }
                .action-wrp {
                    float: left;
                    width: 65%;

                    .action {
                        float: left;
                        width: 33.333%;
                        height: 90px;
                        font-size: 0;
                        &:nth-child(1) {
                            padding-right: 10px;
                        }
                        &:nth-child(2) {
                            padding-left: 5px;
                            padding-left: 5px;
                        }
                        &:nth-child(3) {
                            padding-left: 10px;
                        }

                        .bg {
                            height: 100%;
                            background: url(../images/action-bg.png) 0/cover no-repeat;
                            border: 1px solid #333;
                            @include border-radius(8px);

                            .action-icon {
                                float: left;
                                margin: 0 26px 0 0;
                                width: 90px;
                                height: 90px;
                            }
                            .title {
                                padding: 10px 0;
                                font: {
                                    size: 24px;
                                    weight: 400;
                                }
                                color: #fff;
                            }
                            .sub-title {
                                font: {
                                    size: 32px;
                                    weight: 600;
                                }
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}