@charset "UTF-8";
/* line 5, ../../../../../RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/style.scss */
body {
  background: url("../images/bg.png");
}

/* line 8, ../sass/style.scss */
*, *::before, *::after {
  position: relative;
  box-sizing: border-box;
}

/* line 12, ../sass/style.scss */
*::before, *::after {
  font-family: 'FontAwesome';
}

/* line 16, ../sass/style.scss */
.wrapper {
  padding: 20px 0;
}
/* line 19, ../sass/style.scss */
.wrapper .container {
  width: 700px;
  margin: 0 auto;
  text-align: center;
  -moz-box-shadow: 0 0 0 1px #ccc, 0 0 0 2px #fff, 0 0 0 3px #ccc, 0 0 0 4px #fff, 0 0 0 5px #ccc, 0 0 0 6px #fff, 0 0 0 7px #ccc, 0px 2px 7px 8px rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: 0 0 0 1px #ccc, 0 0 0 2px #fff, 0 0 0 3px #ccc, 0 0 0 4px #fff, 0 0 0 5px #ccc, 0 0 0 6px #fff, 0 0 0 7px #ccc, 0px 2px 7px 8px rgba(0, 0, 0, 0.37);
  box-shadow: 0 0 0 1px #ccc, 0 0 0 2px #fff, 0 0 0 3px #ccc, 0 0 0 4px #fff, 0 0 0 5px #ccc, 0 0 0 6px #fff, 0 0 0 7px #ccc, 0px 2px 7px 8px rgba(0, 0, 0, 0.37);
}
/* line 26, ../sass/style.scss */
.wrapper .container .body .title {
  padding: 40px 0 20px;
  font-size: 18px;
  line-height: 22px;
}
/* line 33, ../sass/style.scss */
.wrapper .container .body .title .newline {
  display: none;
}
/* line 36, ../sass/style.scss */
.wrapper .container .body .title .b1, .wrapper .container .body .title .b2, .wrapper .container .body .title .b3 {
  font-size: 22px;
  font-weight: 600;
  color: #a7053c;
}
/* line 44, ../sass/style.scss */
.wrapper .container .body #infos {
  display: none;
  width: 640px;
  padding: 10px;
  margin: 0 auto 20px;
  font-size: 12px;
  text-align: left;
  color: #4e4e4e;
  background: #f3f3f3;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.33);
}
/* line 57, ../sass/style.scss */
.wrapper .container .body #infos .group {
  padding: 4px 0px;
}
/* line 60, ../sass/style.scss */
.wrapper .container .body #infos .group .label {
  margin: 0 4px 0 0;
  font-weight: bold;
  font-family: 微軟正黑體, "Microsoft JhengHei", "Apple LiGothic", Arial;
  color: #616161;
}
/* line 70, ../sass/style.scss */
.wrapper .container .body .mapLink {
  display: block;
  text-decoration: none;
}
/* line 77, ../sass/style.scss */
.wrapper .container .body .mapLink .map-wrp {
  float: left;
  margin: 0 0 0 30px;
}
/* line 81, ../sass/style.scss */
.wrapper .container .body .mapLink .pokeIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 28px;
  height: 28px;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -moz-box-shadow: inset 0 0 15px 6px rgba(244, 67, 54, 0.73);
  -webkit-box-shadow: inset 0 0 15px 6px rgba(244, 67, 54, 0.73);
  box-shadow: inset 0 0 15px 6px rgba(244, 67, 54, 0.73);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 93, ../sass/style.scss */
.wrapper .container .footer {
  padding: 20px 0;
}
/* line 96, ../sass/style.scss */
.wrapper .container .footer .text {
  display: inline-block;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #633524;
  z-index: 2;
}
/* line 105, ../sass/style.scss */
.wrapper .container .footer .text::after {
  content: '\f178';
  display: inline-block;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  font-size: 38px;
}

@media (max-width: 768px) {
  /* line 118, ../sass/style.scss */
  .wrapper .container {
    width: 90vw;
    height: 100%;
  }
  /* line 124, ../sass/style.scss */
  .wrapper .container .body .title .newline {
    display: block;
    margin: 0 0 10px;
  }
  /* line 129, ../sass/style.scss */
  .wrapper .container .body #infos {
    width: 80vw;
  }
  /* line 133, ../sass/style.scss */
  .wrapper .container .body .mapLink .map-wrp {
    float: inherit;
    width: 80vw;
    margin: 0 auto;
  }
  /* line 138, ../sass/style.scss */
  .wrapper .container .body .mapLink .map-wrp .mapImg {
    width: 100%;
  }
  /* line 141, ../sass/style.scss */
  .wrapper .container .body .mapLink .map-wrp .pokeIcon {
    width: 16px;
    height: 16px;
  }

  /* line 152, ../sass/style.scss */
  #line-share img {
    width: 30%;
    height: auto;
  }
}
/* line 159, ../sass/style.scss */
.clearfix {
  clear: both;
}
