@charset "UTF-8";
/* line 5, ../../../../../RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
/* line 2, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 22, ../../../../../RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
/* line 21, ../sass/_reset.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
/* line 26, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
/* line 31, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
/* line 37, ../sass/_reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
/* line 44, ../sass/_reset.scss */
q, blockquote {
  quotes: none;
}

/* line 103, ../../../../../RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
/* line 48, ../sass/_reset.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
/* line 54, ../sass/_reset.scss */
a img {
  border: none;
}

/* line 116, ../../../../../RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
/* line 59, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/style.scss */
html, body {
  height: 100%;
}

/* line 8, ../sass/style.scss */
body {
  overflow: hidden;
}
/* line 10, ../sass/style.scss */
body::before {
  content: '';
  position: absolute;
  top: -1%;
  left: -1%;
  right: -1%;
  bottom: -1%;
  background: url(../img/bg.jpg) 0/cover;
  -webkit-filter: blur(5px);
  z-index: -1;
}

/* line 23, ../sass/style.scss */
* {
  font-family: 'Source Sans Pro', 'Roboto', Arial, '文泉驛正黑', 'WenQuanYi Zen Hei', '儷黑 Pro', 'LiHei Pro', '微軟正黑體', 'Microsoft JhengHei', '標楷體', 'DFKai-SB', 'sans-serif';
}

/* line 28, ../sass/style.scss */
*,
*::before,
*::after {
  position: relative;
  box-sizing: border-box;
}

/* line 35, ../sass/style.scss */
.header {
  position: fixed;
  height: 60px;
  top: 0;
  left: 0;
  right: 0;
  background: #1a1c1e;
  z-index: 99;
}
/* line 44, ../sass/style.scss */
.header .logo {
  width: auto;
  display: block;
  margin: 0 auto;
}

/* line 51, ../sass/style.scss */
.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 900px;
  padding: 0 50px 50px 50px;
  text-align: center;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.32);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 62, ../sass/style.scss */
.wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.32);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  z-index: -1;
}
/* line 77, ../sass/style.scss */
.wrapper .desc {
  margin: 40px 0;
  font-size: 22px;
  text-align: center;
  color: #2a424e;
}
/* line 86, ../sass/style.scss */
.wrapper .url {
  margin: 40px 0;
  font-size: 44px;
  text-align: center;
}
/* line 94, ../sass/style.scss */
.wrapper .content {
  display: inline-block;
  min-width: 450px;
  max-width: 800px;
  padding: 30px;
  border: 1px solid rgba(255, 255, 255, 0.32);
  text-align: center;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.07);
  box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.07);
}
/* line 103, ../sass/style.scss */
.wrapper .content::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.32);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  z-index: -1;
}
/* line 118, ../sass/style.scss */
.wrapper .content .short_desc {
  margin: 0 0 20px 0;
  font-size: 22px;
  animation-delay: 0.3s;
}
/* line 126, ../sass/style.scss */
.wrapper .content .long_desc {
  font-size: 20px;
  font-style: oblique;
  color: #2a424e;
  line-height: 44px;
  animation-delay: 0.5s;
}

/* line 138, ../sass/style.scss */
img {
  width: 100%;
  height: auto;
}

/* line 143, ../sass/style.scss */
.clearfix {
  clear: both;
}

/* line 147, ../sass/style.scss */
.hidden {
  display: none;
}

/* line 151, ../sass/style.scss */
.mgnbtm0 {
  margin-bottom: 0;
}

@media (max-width: 1024px) {
  /* line 157, ../sass/style.scss */
  body {
    overflow: inherit;
    overflow-x: hidden;
  }

  /* line 162, ../sass/style.scss */
  .wrapper {
    width: 90%;
    padding: 0 10px 40px 10px;
    top: 80px;
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  /* line 169, ../sass/style.scss */
  .wrapper .desc {
    font-size: 18px;
    line-height: 44px;
  }
  /* line 176, ../sass/style.scss */
  .wrapper .url {
    font-size: 30px;
  }
  /* line 182, ../sass/style.scss */
  .wrapper .content {
    width: 95%;
    min-width: inherit;
    max-width: inherit;
    padding: 20px 10px;
  }
}
@media (max-width: 768px) {
  /* line 192, ../sass/style.scss */
  body {
    overflow: hidden;
  }
}
@media (max-width: 767px) {
  /* line 198, ../sass/style.scss */
  .wrapper {
    width: 90%;
    padding: 0 10px 40px 10px;
    top: 80px;
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  /* line 205, ../sass/style.scss */
  .wrapper .desc {
    font-size: 18px;
    line-height: 44px;
  }
  /* line 212, ../sass/style.scss */
  .wrapper .url {
    font-size: 30px;
  }
  /* line 218, ../sass/style.scss */
  .wrapper .content {
    width: 95%;
    min-width: inherit;
    max-width: inherit;
    padding: 20px 10px;
  }
}
@media (max-width: 500px) {
  /* line 228, ../sass/style.scss */
  body {
    overflow: inherit;
    overflow-x: hidden;
  }

  /* line 233, ../sass/style.scss */
  .wrapper {
    position: relative;
    width: 90%;
    padding: 0 10px 40px 10px;
    top: 80px;
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  /* line 241, ../sass/style.scss */
  .wrapper .desc {
    font-size: 18px;
    line-height: 44px;
  }
  /* line 248, ../sass/style.scss */
  .wrapper .url {
    font-size: 12px;
  }
  /* line 254, ../sass/style.scss */
  .wrapper .content {
    width: 95%;
    min-width: inherit;
    max-width: inherit;
    padding: 20px 10px;
  }
}
